$ff: 'Work Sans', sans-serif;

$paragrapf: #262626;
$terciary:#F9F1FE;
$text: #575757;
$primery: #8842F0;
$white: #FFFFFF;
$bleck: #1C1B1F;

$transition: .2s all ease-in-out;

$desktop-small: 1200px;
$tablet-small: 992px;
$tablet: 768px;
$mobile: 576px;
$mobile-small: 460px;

