.docter-sectian {
    text-align: center;
    margin-bottom: 123px;

    .title {
        margin-bottom: 70px;
    }

    .desc {
        max-width: 837px;
        margin-inline: auto;
        margin-bottom: 123px;
    }
}